# Environments
.env
.venv/
credentials.json
token.pickle

# Python bytecode and caches
**/__pycache__/
*.py[co]

# Build artifacts
build/
dist/
wheels/
*.egg-info/

#indexing
faiss_index_hf_directory/
